<a href="https://colab.research.google.com/github/junggu429/house-cost-project/blob/main/%EC%A7%91%EA%B0%92%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [39]:
from sklearn.preprocessing import StandardScaler

In [2]:
train = pd.read_csv('/content/drive/MyDrive/housing/train.csv')
test = pd.read_csv('/content/drive/MyDrive/housing/test.csv')
submission = pd.read_csv('/content/drive/MyDrive/housing/sample_submission.csv')

In [3]:
train.head()

   id  Overall Qual  Gr Liv Area  ... Year Remod/Add  Garage Yr Blt  target
0   1            10         2392  ...           2003           2003  386250
1   2             7         1352  ...           2007           2006  194000
2   3             5          900  ...           1967           1967  123000
3   4             5         1174  ...           2006           2000  135000
4   5             7         1958  ...           2005           2005  250000

[5 rows x 15 columns]

In [27]:
# 전처리 - 문자형을 숫자형으로


train['Kitchen Qual'] = train['Kitchen Qual'].map({'Ex' : 1, 'Gd' : 2, 'TA' : 3, 'Fa' : 4, 'Po' : 5})

In [33]:
test['Kitchen Qual'] = test['Kitchen Qual'].map({'Ex' : 1, 'Gd' : 2, 'TA' : 3, 'Fa' : 4, 'Po' : 5})

In [34]:
train['Exter Qual'] = train['Exter Qual'].map({'Ex' : 1, 'Gd' : 2, 'TA' : 3, 'Fa' : 4, 'Po' : 5})
test['Exter Qual'] = test['Exter Qual'].map({'Ex' : 1, 'Gd' : 2, 'TA' : 3, 'Fa' : 4, 'Po' : 5})

train['Bsmt Qual'] = train['Bsmt Qual'].map({'Ex' : 1, 'Gd' : 2, 'TA' : 3, 'Fa' : 4, 'Po' : 5})
test['Bsmt Qual'] = test['Bsmt Qual'].map({'Ex' : 1, 'Gd' : 2, 'TA' : 3, 'Fa' : 4, 'Po' : 5})

In [35]:
train.head()

   id  Overall Qual  Gr Liv Area  ...  Year Remod/Add  Garage Yr Blt  target
0   1            10         2392  ...            2003           2003  386250
1   2             7         1352  ...            2007           2006  194000
2   3             5          900  ...            1967           1967  123000
3   4             5         1174  ...            2006           2000  135000
4   5             7         1958  ...            2005           2005  250000

[5 rows x 15 columns]

In [ ]:
# 변수 선택 및 모델 구축

In [53]:
X_train = train.drop(['id','target'], axis = 1)

In [55]:
y_train = train['target']

In [58]:
X_test = test.drop('id', axis = 1)

In [72]:
# 표준화

scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [64]:
from sklearn.ensemble import RandomForestRegressor

In [73]:
rf = RandomForestRegressor()

rf.fit(X_train_scaled, y_train)

RandomForestRegressor()

In [74]:
rf_pred = rf.predict(X_test_scaled)

In [75]:
submission['target'] = rf_pred

In [76]:
submission.to_csv('집값 예측.csv',index = False)