<a href="https://colab.research.google.com/github/junggu429/house-cost-project/blob/main/%ED%95%B4%EC%99%B8%20%EC%B6%95%EA%B5%AC%20%EC%84%A0%EC%88%98%20%EC%9D%B4%EC%A0%81%EB%A3%8C%20%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

1번째 코드 요인 4개 사용
점수 : 1,632,164

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
train = pd.read_csv('/content/drive/MyDrive/FIFA_train.csv')
test = pd.read_csv('/content/drive/MyDrive/FIFA_test.csv')
submission = pd.read_csv('/content/drive/MyDrive/submission.csv')

In [6]:
train.head()

   id          name  age  ... stat_potential stat_skill_moves        value
0   0      L. Messi   31  ...             94              4.0  110500000.0
1   3        De Gea   27  ...             93              1.0   72000000.0
2   7     L. Suárez   31  ...             91              3.0   80000000.0
3   8  Sergio Ramos   32  ...             91              3.0   51000000.0
4   9      J. Oblak   25  ...             93              1.0   68000000.0

[5 rows x 12 columns]

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8932 entries, 0 to 8931
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                8932 non-null   int64
 1   name              8932 non-null   object
 2   age               8932 non-null   int64
 3   continent         8932 non-null   object
 4   contract_until    8932 non-null   object
 5   position          8932 non-null   object
 6   prefer_foot       8932 non-null   object
 7   reputation        8932 non-null   float64
 8   stat_overall      8932 non-null   int64
 9   stat_potential    8932 non-null   int64
 10  stat_skill_moves  8932 non-null   float64
 11  value             8932 non-null   float64
dtypes: float64(3), int64(4), object(5)
memory usage: 837.5+ KB

In [9]:
train['continent'].value_counts()

europe           5322
south america    1927
asia              787
africa            721
oceania           175
Name: continent, dtype: int64

In [10]:
train['position'].value_counts()

MF    3428
DF    2791
ST    1705
GK    1008
Name: position, dtype: int64

In [12]:
train['prefer_foot'].value_counts()

right    6837
left     2095
Name: prefer_foot, dtype: int64

In [13]:
X_train = train[['reputation','stat_overall','stat_potential','stat_skill_moves']]

In [16]:
y_train = train['value']

In [17]:
X_test = test[['reputation','stat_overall','stat_potential','stat_skill_moves']]

In [18]:
from sklearn.preprocessing import StandardScaler

In [19]:
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [21]:
print(type(X_train_scaled))
print(type(y_train))

<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>

In [22]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_train_scaled,y_train)
rf_pred = rf.predict(X_test_scaled)

In [24]:
submission['value'] = rf_pred

In [26]:
submission.to_csv('soccer.csv', index = False)